html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  padding: 20px;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  margin-left: auto;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  margin-left: auto;
  font-weight: 600;
}



@keyframes changing-colors {
  0% {background-color: #f8fef0;}
  8% {background-color: #fcf3f6;}
  16% {background-color: #fffff3;}
  24% {background-color: #f3f3ff;}
  32% {background-color: #f3ffff;}
  40% {background-color: #f2fef2;}
  48% {background-color: #fbfbef;}
  56% {background-color: #f6eefb;}
  64% {background-color: #f2f2fe;}
  72% {background-color: #f1fef7;}
  80% {background-color: #f8ecec;}
  88% {background-color: #fff3ff;}
  96% {background-color: #f9f1fc;}
    }

.changing-colors {
  animation-name: changing-colors;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1rem;
  background: linear-gradient(to bottom, silver 0%, silver 40%, rgba(254,223,189,0) 100%);


}
