html {
  cursor: grab;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-color);
  text-align: left;
}

:root {
  --bg-color: white;
  --border-color: black;
  --font-color: black;
}

[data-theme="dark"] {
  --bg-color: black;
  --border-color: white;
  --font-color: white;
}


body {
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94vh;
  background-color: var(--bg-color);
  color: var(--font-color);
}

nav {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  padding: 20px 20px;
  top: 0;
  right: 0;
}

#left {
  margin: 0;
  padding: 0;
  width: 45vw;
  bottom: 0;
  position: relative;
  height: 100%;
}

#right {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  position: relative;
  width: 45vw;
  height: 100%;
}

.draggable {
  /* position */
  position: absolute;
  /* box model */
  width: 350px;
  height: 350px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* visual */
  background-color: var(--bg-color);
  border: solid 2px var(--border-color);
  border-radius: 2%;
  box-shadow: 1px 2px 4px #999;
}

.draggable:active {
  cursor: grabbing;
}

.front {
  z-index: 100;
}

.boxheader {
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  /* box model */
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 2px;
  /* visual */
  border-bottom: solid 2px var(--border-color);
}

.circle {
  /* position */
  top: auto;
  right: 8px;
  position: absolute;
  /* box model */
  width: 25px;
  height: 25px;
  /* visual */
  border: solid 2px var(--border-color);
  border-radius: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: #75d652;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
